body {
	background-color: #dadada;
	margin: 0;
	height: 100vh;
}

.box {
	background-color: blue;
	height: 150px;
	width: 150px;
}

.container {


}

.red-box {
	background-color: red;

}

.green-box {
	background-color: green;

}