body {
	background-color: #dadada;
	margin: 0;
	height: 100vh;
}

.container {
	height: 100vh;
}

header,
footer,
main,
aside {
	width: 100%;
}

header {
	background-color: blue;
}

footer {
	background-color: yellow;
}

main {
	background-color: green;
}

aside {
	background-color: red;
}
